.segment {
    overflow: hidden;
    margin-bottom: 1.5rem;
    position: relative;
}

.title {
    color: #e5e5e5;
    font-weight: bold;
    font-size: 0.8rem;
}

.icon {
    margin-left: 0.3rem;
}

.row {
    display: flex;
}

.row img {
    margin-right: 0.5rem;
    border-radius: 4px;
}

.button {
    display: none;
    height: 165px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
}

.row:hover .button {
    display: block;
}