.linksList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.link {
    flex-basis: 25%;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

.link a {
    color: #808080;
    text-decoration: none;
}