.billboard {
    /* background-color: greenyellow; */
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    width: 100%;
    height: 56.25vw;
}

.billboard img {
    width: 100%;
}

.fadeOut {
    background-image: linear-gradient( to bottom, rgba(20, 20, 20, 0) 0, rgba(20, 20, 20, 0.15) 15%, rgba(20, 20, 20, 0.35) 29%, rgba(20, 20, 20, 0.58) 44%, #141414 68%, #141414 100%);
    position: absolute;
    background-size: 100% 100%;
    background-position: 0 top;
    background-repeat: repeat-x;
    background-color: transparent;
    width: 100%;
    height: 14.7vw;
    top: auto;
    bottom: -1px;
}

.info {
    position: absolute;
    top: 0;
    bottom: 35%;
    left: 4%;
    width: 36%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.description {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.links {
    display: flex;
    margin-top: 1rem;
}

.links a,
.links button {
    border-radius: 4px;
    border: none;
    padding: 0.7rem 1.1rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-right: 0.5rem;
}

.links a {
    text-decoration: none;
    color: black;
    background-color: white;
}

.links button {
    color: white;
    background-color: rgba(109, 109, 110, 0.7);
    cursor: pointer;
}

.links a span,
.links button span {
    margin-left: 0.5rem;
}